.flex-element {
  flex: 1 1 300px;
}

.mh-400px {
    max-height: 300px;
}

img{
    width: 100%;
    height: 50%;
    background-size: cover;
    object-fit: cover;
}

.img-1{
    background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDyjnBD5gw6DQmQl7zbNzi1QETzKGusPj0LUILhq98cfYNWEk2imWQA64WBQLWCR2VbGd0GcnljOEROjwH4fONGazS6b7TMsM6dUiBZ7zUHS1U3f4IOKp15Cfx9hLXb9R6hEf5eUuChplpqaeCrc5KL2PyjY0KOAgWSBFYkqPZetfx2TzXFgbVofrfg2RqIz13Ee1t0_tHqGvoDu9GaEr0WChaQM79RdbyzSGZxuXmQKcvT9w0QtybjmSqWKBQE36OLnFNV6ZFUDw6n");
}

.img-2{
    background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBh7N_0j_Tb8hRGA-TSO7uqcbYW30UcEUtn7XWvMxO5rLfTenDM7CXfzBMjLgnUCveiru8-vRYjDPH02WC3fWc_pbGsblEjPgwH-1251IIu4EZ2WsIYj-nUK5ewU_4S8Za5l_oICUcIfG9oqhQQwCZn1SYtknTgdz9UmMaDqvsyOW05h8eUEQ295zpM4VwYTKFQ6BpM6XxZVG5UrBWvoPD8eX5vZr6SIJ3BC9s-sbh-pGfG_FqnTyghehJbAksOhaPzfnOLHNyaOEze");
}

.img-3{
    background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuD5GSsyjQOLEArdiMdLEy1wFwHM7wMLJvrt_D_DAHRX2_6_53P9X434DnelPCfaASqFoY90_lBZvgfzxvS99Bypjfq-N1C2t4UZV1ucEaXOOhdzrcJDNHvQHUhSBLtTnfhjw7sLS8tDavTu6bmS1bSbm1B-UhxaJMDUaQmt4AHgunPyF7lTkLBS3vcyXtmX8s7sjLKEBOY-2uO7ngCei7a2PxSJmJgKEkg1Z8BI35PGlVA1yQii8Sry6dFB7mARWosmxFvzu4okI-PM");
}