:root,
:root[data-bs-theme="light"] {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --bs-body-bg: #f0f0f0;
  --bs-body-color: #1e293b;
  --bs-primary: #13a4ec;
  --bg-white: #ffffff;
}

:root[data-bs-theme="dark"] {
  --bs-body-bg: #101c22;
  --bs-body-color: #ffffff;
  --bs-primary: #13a4ec;
  --bg-white: #50627f;
}

body {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
